# Gradle
.gradle/

# Local config
local.properties

# Build outputs
/build/
/app/build/

# APK / AAB
*.apk
*.aab
*.ap_

# Android Studio
.idea/
*.iml

# OS files
.DS_Store

# Native build
.externalNativeBuild/
.cxx/

# Capture folder
/captures/

# Generated release/profile files
*.dm
output-metadata.json